
video {
    display: block;
}


.info {
    background-color: aqua;            
}

.error {
    background-color: red;
    color: white;
}

	#id_work_days{
  height: 44px;
  border: none;
  overflow: hidden;
}
#id_work_days::-moz-focus-inner {
  border: 0;
}
#id_work_days:focus {
  outline: none;
}
#id_work_days option{
  width: 160px;
  font-size: 1.2em;
  padding: 10px 0;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  border:rgb(0, 0, 0) solid 1px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  
}